{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <div align="center">
        <h1>{{current_user.username.upper()}}'S DETAILS</h1>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="car-boy">
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="form-group">
                    {{form.hidden_tag()}}
                </div>
                <h2 class="form-group">
                    {{form.username.label(class='form-group')}}
                    {{form.username(class='form-control')}}
                </h2>
                <h2 class="form-group">
                    {{form.email.label(class='form-group')}}
                    {{form.email(class='form-control')}}
                </h2>

                <div class="link" class="form-group">
                    {{form.submit(class="primary")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}