{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="card"> 
            <div class="car-boy">
                <div class="jumbotron">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div class="form-group">
              {{form.name.label(class="form-control-label")}}
              {{form.name(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.item_details.label(class="form-control-label")}}
            {{form.item_details(class="form-control form-control-lg")}}
        </div>
        <div class="link" class="form-group">
            {{form.submit(class="primary")}}
        </div>
      </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}