{% extends "base.html" %}
{% block content %}
<div align="center" class="container">
    <div class="card"> 
        <div class="car-boy">
            <div class="jumbotron">
        <form method="POST">
    {{form.hidden_tag()}}
    <h1>{{form.email.label}} {{form.email}}</h1>
    <br>
    <h1>{{form.password.label}} {{form.password}}</h1>
    <br>
    <div class="link">
    {{form.submit(class="primary")}}
        </div>
        </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}