{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ item.name }}</h1>
  <h2>Added by: {{item.author.username}}</h2>
  <h3>Published: {{ item.date.strftime('%B %d, %Y') }}</h3>
  <p>{{item.item_details}}</p>
   {% if item.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('thrift_items.update', thrift_item_id=item.id) }}">Update</a>
       <br>
       <form class="link" action="{{ url_for('thrift_items.delete_item', thrift_item_id=item.id) }}" method="POST">
        <button class="primary" class="link" type="submit" value="Delete">DELETE</button>
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}